#app {
  width: 100%;
}

.app {
  &-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    border-right: 1px solid #12263f;
    background-color: #152e4d;
    overflow: scroll;
    z-index: 9;
  }

  &-layout {
    width: calc(100vw - 250px);
    margin-left: 250px;
    overflow: hidden;
  }

  &-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10px;
    background-color: #12263f;
    z-index: 1;
  }

  &-content {
    position: relative;
    width: 100%;
    margin: 0;
    padding-top: 10px;
    min-height: calc(100vh - 69px);
    background-color: #f9fbfd;
  }


  &-footer {
    padding-top: 24px;
    padding-bottom: 24px;
    text-align: center;
    background-color: #f9fbfd;
  }
}

.page-loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  overflow: hidden;
}
h2 {
  margin-top: 0px;
}
h3, h4, h5 {
  margin-top: 32px;
  margin-bottom: 12px;
  color: #343a40;
}

ul {
  margin-top: 16px;
  list-style-position: inside;
}

img {
  display: block;
  max-width: 100%;
  margin: 12px auto;
}

code:not(language-) {
  margin: 0 1px;
  padding: .2em .4em;
  border: 1px solid #eee;
  background-color: #f2f4f5;
  border-radius: 3px;
  font-size: .9em;
  color: #777;
}

code[class*="language-"] {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: transparent;
  border-radius: 0;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  font-size: 13px;
  tab-size: 2;
  hyphens: none;
  color: #eee;
}

pre {
  padding: 16px;
  margin-top: 16px;
  margin-bottom: 16px;
  background-color: #12263f;
}

:not(pre)>code[class*="language-"] {
  padding: .1em;
  border-radius: .3em;
  white-space: normal;
}

.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #999;
}

.token.punctuation {
  color: #569cd6;
}

.token.tag,
.token.attr-name,
.token.namespace,
.token.deleted {
  color: #e2777a;
}

.token.function-name {
  color: #6196cc;
}

.token.boolean,
.token.number,
.token.function {
  color: #f08d49;
}

.token.property,
.token.class-name,
.token.constant,
.token.symbol {
  color: #569cd6;
}

.token.selector,
.token.important,
.token.atrule,
.token.keyword,
.token.builtin {
  color: #cc99cd;
}

.token.string,
.token.char,
.token.attr-value,
.token.regex,
.token.variable {
  color: #7ec699;
}

.token.operator,
.token.entity,
.token.url {
  color: #67cdcc;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

.token.inserted {
  color: green;
}